body {
    background-image: url("bg.png");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
}

.wrapper {
    position: relative;
    top: 0%;
    left: 0%;
}

.elements {
    position: absolute;
    top: 0%;
    left: 0%;
}

.busch {
    position: absolute;
    top: -65px;
    left: -65px;
}

 .pinguin {
     position: absolute;
     top: 215px;
     left: 465px;
 }

 .text {
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     color: white;
     position: absolute;
     top: 0%;
     width: 450px;
     padding: 30px 50px 70px;
     margin: 30px 0px;
     line-height: 30px;
 }

.überschrift {
     font-size: 40px;
 }
