body {
    background-image: url("bg.png");
    display: flex;
    align-items: center;
    justify-content: center;
    height: 750px;
}

.wrapper {
    position: relative;
    top: 0%;
    left: 0%;
}

.elements {
    position: absolute;
    top: 0%;
    left: 0%;
}

.busch {
    position: absolute;
}

 .pinguin {
     position: absolute;
 }

 .text {
     color: white;
     position: absolute;
     top: 0%;
     width: 450px;
     padding: 80px 50px 70px;
     margin: 30px 0px;
 }

.überschrift {
     font-size: 40px;
 }
