body{
    background-color: #000000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    
}

#wrapper div{
    width: 150px;
    height: 150px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: -6px;
    margin-bottom: -6px;
    border-radius: 8px;
    z-index: 1;
    display: inline-block;
}

#pad1, #pad2, #pad3 {
    background-color: #4075ba;
}

#pad4, #pad5, #pad6 {
    background-color:#f73298
}

#pad7, #pad8, #pad9{
    background-color: #dd831d;
}
#wrapper img {
    position: relative;
    margin-left: 165px;
}