body {
    background-image: url("bg.png");

}
.plant {
    margin-left: 450px;
    margin-top: -20px;
    position: fixed;
    z-index: 1;
}

.wrapper {
    text-align: center;
    display: block;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
 

}

h1 {
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: fixed;
    margin-left: 600px;
    margin-top: -490px;
    z-index: 1;

}

h2 {
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    position: fixed;
    line-height: 20px;
    margin-left: 600px;
    margin-right: 700px;
    margin-top: -400px;
    z-index: 1;

}

.gifts {
    margin-left: 900px;
    margin-top: -290px;
    position: fixed;
    z-index: 1;
}

.feuer {
    margin-left: 900px;
    margin-top: -380px;
    position: fixed;
    z-index: auto;
    
    .stern1 {
        margin-left: 970px;
        margin-top: -330px;
        position: fixed;
        z-index: 1;
    }
    
    .stern2 {
        margin-left: 910px;
        margin-top: -250px;
        position: fixed;
        z-index: 1;
    }
    
    .stern3 {
        margin-left: 820px;
        margin-top: -270px;
        position: fixed;
        z-index: 1;
    }
    
    .stern4 {
        margin-left: 730px;
        margin-top: -240px;
        position: fixed;
        z-index: 1;
    }


}