body { 
    background-image:url("background.png");
    

}

button {
    position: absolute;
    font-family: sans-serif;
    font-size: large;
    top: 0;
    right: 0;
    background-color:#b14135;
    border: none;
    border-radius: 5px;
}


 a {
     color: white;
     transition: color 1s ease-in-out 0s;
     position: relative;
     text-decoration: none;
 }
 a:hover {
         color: black;
 }

 .active {
     color: rgb(32, 28, 28);
     font-style: bold;
 }

.kreis {
    background-color:darkgrey;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -400px;
}

     
#datei {
    height: 530px;
    width: 800px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    }

h1 {
    font-size: 115px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}

div h1 {
     position: relative;
     margin-top: -425px;
}
h2 {
    font-size: xx-large;
    color: #b14135;
    font-family: sans-serif;
    margin-top: 200px;
    margin-left:385px;
    position: relative;
}
h3 {
     position: relative;
     font-size: x-large;
     font-family: sans-serif;
     color: #a05951;
     margin-left: 500px;
     margin-right: 500px;
     margin-top: -30px;
     text-align: center;
     font-style: italic;
 }

 div h3 {
     position: relative;
     margin-top:-30px ;
     font-size: medium ;
    }
    
#icon { 
    height: 100px;
    width: 100px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;

    }

#icon:hover {
    box-shadow: 2px 2px 10px darkgray;
    border-radius: 10px;
    
    } 

h4 {
    font-family: sans-serif;
    font-size: large;
    color: rgb(95, 95, 95);
    margin-left: 385px;
}

#kontakt {
    font-size: small;
    background-color: darkgray;
    color:white;
    background-origin: padding-box;
    margin-right: 850px;
}

#nachricht {
    font-size: smaller;
    background-color: darkgray;
    color:white;
    background-origin: padding-box;
    margin-right: 850px;
}

#datenschutz {
    color: darkgray;
    font-family: sans-serif;
    margin-left: 385px;
    margin-right: 850px;

}

#absenden {
    font-size: smaller;
    background-color: darkgray;
    color:white;
    background-origin: padding-box;
    margin-right: 1090px;
}