body { 
    background-image:url("background.png");

}

.kreis {
    background-color:darkgrey;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -400px;


}

.datei {
    margin: auto;
}

h1 {
    font-size: xx-large;
    color: white;
}

h2 {
    font-size: xx-large;
    color: #b14135;
    font-family: sans-serif;
}