body {
    background-image: url("bg.png");

}


.wrapper {
    text-align: center;
    display: block;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    margin-bottom: 150px;
    position: relative;
 

}

h1 {
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    position: fixed;
    margin-left: 600px;
    margin-top: -490px;
    z-index: 1;

}

h2 {
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    position: fixed;
    line-height: 20px;
    margin-left: 600px;
    margin-right: 600px;
    margin-top: -400px;
    z-index: 1;

}

.stern1 {
    margin-left: 970px;
    margin-top: -330px;
    position: fixed;
    z-index: 1;
}

.stern2 {
    margin-left: 910px;
    margin-top: -250px;
    position: fixed;
    z-index: 1;
}

.stern3 {
    margin-left: 820px;
    margin-top: -270px;
    position: fixed;
    z-index: 1;
}

.stern4 {
    margin-left: 730px;
    margin-top: -240px;
    position: fixed;
    z-index: 1;
}

div img:hover {
    background-image: url(stern_hover.png);
    transition: 2s;

}
