body{
    background-color: #000000;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:url("images/background.jpg") no-repeat center;
    background-size: 200%;
}

#wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    margin-top: 50px;
    
}

#wrapper div{
    width: 150px;
    height: 150px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: -6px;
    margin-bottom: -6px;
    border-radius: 8px;
    z-index: 1;
    display: inline-block;
    box-shadow: 10px 10px 10px 0px #ffffff60 inset;
    
}
#wrapper :hover{
    opacity: 80%;
}

#pad1, #pad2, #pad3 {
    background-color: #255a49;
    background-image: linear-gradient(#ffffff80,#255a49);
}
#pad4, #pad5, #pad6 {

    background-color: #538550;
    background-image: linear-gradient(#ffffff80,#538550);
}

#pad7, #pad8, #pad9{
    background-image: linear-gradient(#ffffff80,#525b4a);
    background-color:#525b4a;
}
#playbutton {
    font-size: 100px;
    position: relative;
    margin-left: 200px;
    margin-top: 50px;
    -webkit-filter: drop-shadow(4px 4px 12px #ffffff);
}
#stopbutton {
    font-size: 100px;
    position: relative;
    margin-left: 187px;
    margin-top: 50px;
    -webkit-filter: drop-shadow(4px 4px 12px #ffffff);
}

.is-hidden {
    display: none !important;
}

#aufnehmbutton {
    font-size: 100px;
    position: absolute;
    margin-left: -280px;
    margin-top: 50px;
    -webkit-filter: drop-shadow(4px 4px 12px #ffffff);
}

#löschbutton {
    font-size: 90px;
    position: absolute;
    margin-left: 100px;
    margin-top: 60px;
    -webkit-filter: drop-shadow(4px 4px 12px #ffffff);
}

.active {
    color: rgb(49, 48, 48);
}

.inactive {
    color: black;
}